<!DOCTYPE html>
<html lang="cs">
	<head>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>{{ _page.title }}</title>

		<link type="text/css" rel="stylesheet" href="/dist/screen.css" />

		<script src="/dist/front.js"></script>

		<script type="text/javascript">
			var _config = [];
		</script>

	</head>
	<body>

		{% block content %}
		{% endblock content %}

	</body>
</html>
